body {
    font-family: 'Courier New', Courier, monospace; /* Mengubah font menjadi Courier */
    background-image: url('1.jpg'); /* Ganti dengan path gambar latar belakang Anda */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: black; /* Ubah warna teks header agar kontras dengan latar belakang */
}

h2#nameDisplay {
    margin-top: 10px;
    color: maroon; /* Ubah warna teks nama agar kontras dengan latar belakang */
}

main {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8); /* Transparansi untuk efek latar belakang */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea, input[type="number"], input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Mencegah perubahan ukuran textarea */
    box-sizing: border-box; /* Menghitung padding dan border dalam lebar total */
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #218838;
}